.pop-home-link
	font-size 240px
	text-shadow 0 2px 0 rgba(0,0,0,0.15)
	color #ffffff
	&:hover
		text-decoration none

.pop-title-field-container
	position relative
	margin-bottom .5em
	@media screen and (min-width: 1200px)
		width 50%
		padding-right 15px
