.nav
.pagination
.carousel
.panel-title a
	cursor pointer

.nav-tabs
	margin-bottom 15px

.transition
	-webkit-transition .3s ease
	-moz-transition .3s ease
	-ms-transition .3s ease
	-o-transition .3s ease
	transition .3s ease

.offline
	opacity .5

.ui-match
	background-color yellow
